/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.background-container {
  height: 95vh;
  background: url('/img/slideshow/marker.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mymoveopacity 5s infinite;
  z-index: 0;
}

@keyframes mymoveopacity {
  0% { opacity: 0;}
  25% { opacity: 1;}
  50% { opacity: 1;}
  75% { opacity: 1;}
  100% { opacity: 0;}
}

.header-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightest {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--text-color);
}

.lighter {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--text-color);
}

.light {
  background-color: var(--ifm-color-primary-light);
  color: var(--text-color);
}
.primary {
  background-color: var(--ifm-color-primary);
  color: var(--text-color);
}

.dark {
  background-color: var(--ifm-color-primary-dark);
  color: var(--text-color);
}

.darker {
  background-color: var(--ifm-color-primary-darker);
  color: var(--text-color);
}

.darkest {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--text-color);
}

.btn-default {
  color: var(--text-color);
  background-color: var(--ifm-color-button);
  padding: 0.65rem 1.2rem!important;
  font-weight: 600!important;
}

.btn-default:hover {
  color: var(--text-color-hover) !important;
  background-color: var(--ifm-color-button-hover);
}


.highlight {
  color: #a7ff0f;
}

.font-big {
  font-size: 3rem;
}

.link {
  color: #a7ff0f;
  text-decoration: none;
}

.link:hover {
  color: #80c20c;
  text-decoration: none;
}

#front_image {
  width: 26rem;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding: 3rem;
  overflow: hidden;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.w-100 {
  width: 100%;

}

.btn {
  display: inline-block;
	font-weight: 400;
	text-align: center;
	border: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
}

.title {
  color: var(--ifm-link-color);
  font-family: 'Blinker';
}

.header__button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}

.btn-header {
  min-width: 10rem;
  font-size: 20px;
  background-color: #819200;
}
