/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightest {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--text-color);
}

.lighter {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--text-color);
}

.light {
  background-color: var(--ifm-color-primary-light);
  color: var(--text-color);
}
.primary {
  background-color: var(--ifm-color-primary);
  color: var(--text-color);
}

.dark {
  background-color: var(--ifm-color-primary-dark);
  color: var(--text-color);
}

.btn-default {
  background-color: #a7ff0f!important;
  border-color: var(--ifm-color-primary-lightest)!important;
  padding: 0.65rem 1.2rem!important;
  font-weight: 600!important;
  color: #212529 !important;
}

.btn-default:hover {
  color: var(--ifm-color-primary-lightest) !important;
}


.highlight {
  color: #a7ff0f;
}

.font-big {
  font-size: 3rem;
}

.link {
  color: #a7ff0f;
  text-decoration: none;
}

.link:hover {
  color: #80c20c;
  text-decoration: none;
}

#front_image {
  width: 26rem;
}

