@import "../../common.css";
.choropleth-container {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#choropleth {
    position: sticky;
}
