.blog {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: center;
    width: 100%;
}

.col {
    width: 100%;
}

article[itemprop="blogPost"]{
    background-color: var(--ifm-color-primary);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

article[itemprop="blogPost"] a {
    color: var(--text-color);
}

article[itemprop="blogPost"] a:hover{
    text-decoration: underline;
    
}
