.demo-container {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.demo-map {
  height: 50vh;
  width: 60vw;
}

#choropleth {
  position: sticky;
}
