.choropleth-container {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.choropleth-map {
  height: 56vh;
  width: 56vw;
}

#choropleth {
  position: sticky;
}
