.demo-container {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.demo-map {
    height: 50vh;
    width: 100%;
    padding: 3px;
}

.demo-toolbar {
    width: 100%;
    font-size: 1rem;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--ifm-color-primary-lightest);
    color: var(--text-color);
}

#choropleth {
    position: sticky;
}

.data-container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    transition: all .5s ease;
    height: min-content;

}

.data-container.hidden {
    display: none; 
}


.data-container .btn-export {
    padding: 8px !important;
    height: max-content;
}

.data-container .custom-file-upload {
    padding: 8px !important;
}


.leaflet-tooltip-pane {
    z-index: 500;
}


.editors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    padding-top: 10px;
}



.editor {
    display: flex;
    flex-direction: column;
    width: 33.3vw;
}

.editor textarea{
    width: 100%;
    height: 50vh;
    resize: none;
    font-size: 15px;
    margin-top: 2px;
}


.file{
    flex-shrink: 2;
}

select {
    width: 100%;
}

.editor__wrapper {
    display: block;
    overflow: hidden;
}

.playground__container {
    padding: 20px;

}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
}

.plagroundbar__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}


.select {
    color: black;
    flex-grow: 2;
    height: max-content;

}



.arrow {
    border: solid var(--text-color);
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}